.social{
    width: 100%;
    height: 700px;

}

.sscart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sscart img{
    width: 350px;
    height: 350px;
}

.swipers {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slides {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slides img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  

  
 